# MakeCode
built
node_modules
yotta_modules
yotta_targets
pxt_modules
.pxt
_site
*.db
*.tgz
.header.json
.simstate.json
package.json
package-lock.json
_locales/scope_custom-jsdoc-strings.json
_locales/scope_custom-strings.json
